<h3>Crear Libro</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="book.nombre" name="nombre">
    </div>

    <div class="form-group">
      <label for="name">Descripción</label>
      <input type="text" class="form-control" id="descripcion" required [(ngModel)]="book.descripcion" name="descripcion">
    </div>

    <div class="form-group">
      <label for="name">Autor</label>
      <input type="text" class="form-control" id="autor" required [(ngModel)]="book.autor" name="autor">
    </div>

    <div class="form-group">
        <label for="name">Fecha Publicación</label>
        <ngb-datepicker #dp [(ngModel)]="model"></ngb-datepicker>
        <input type="date" class="form-control" id="fecha_pub" required [(ngModel)]="book.fecha_pub" name="fecha_pub">
      </div>

      <div class="form-group">
        <label for="name">Número de Ejemplares</label>
        <input type="text" class="form-control" id="num_ejem"  required  entero [(ngModel)]="book.num_ejem" name="num_ejem">
      </div>

      <div class="form-group">
        <label for="name">Costo</label>
        <input type="text" class="form-control" id="costo" numero required [(ngModel)]="book.costo" name="costo">
      </div>

    <button type="submit" class="btn btn-success"> <i class="fas fa-save"></i>&nbsp;Guardar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Se ha agregado el libro!</h4>
  
</div>
